body{
  padding: 0;
  margin: 0;
}

.topnav{
  display: flex;
  flex-direction: row;
  position: 'absolute';
  position: sticky;
  font-family: "Nimbus Sans L";
  text-transform: uppercase;
  color: #F9ECDD;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #101010;
}

.topnav a {
  text-decoration: none;
}

.btn-mobile {
  display: none;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.menu li {
  padding: 0;
}

.menu a {
  color: white;
  padding: 0.5rem;
  transition: color 0.3s;
}

.menu a:hover {
  background-color: #6788C3;
  color: #F9ECDD;
}

.logo{
  width: 39.359px;
  height: 27.71px;
  flex-shrink: 0;
  padding-top:5px;
  padding-right: 5px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9ECDD;
  font-family: "Nimbus Sans L";
}

.container h2{
  color: #DA705A;
  font-family: "Abel";
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #101010 ;
  padding: auto;
  align-items: center;
  color: #FFFFFF;
  font-family: "Open Sans";
}

.footer div{
  border-bottom: 1px solid #FFFFFF;
  font-family: Abel;
  text-transform: capitalize;
}

.line {
  padding-inline: 100%;
  border: 1px solid #F7A675;
}

.card{
  display: flex;
  position: relative;
  background-color: #FFDEB9;
  border-radius: 1.25rem;
  border: 1px solid #000;
  margin: 1rem;
  padding: .5rem;
}

.imagem {
  width: 5rem;
  height: 5rem;
  max-width: 60rem;
  max-height: 70rem;
  margin: 1rem;
}

.cardGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nimbus {
  color: #101010;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titulo-card{
  text-transform: capitalize;
}

.card1{
  background-color: #6788C3;
}

.card2 {
  background-color: #FAAD7A;
  display: flex;
  flex-direction: row-reverse ;
  justify-content: center;
}


.card3{
  background-color: #D4ADD0;
}