.titulo {
  font-family: 'Abel';
  font-size: 22px;
  color: black;
}

.diaSem {
  font-family: 'Abel';
  font-size: 20px;
  color: #6788C3;
  font-family: "Nimbus Sans L";
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
}

.recomendacoes {
  font-family: 'Abel';
  font-size: 20px;
  color: black;
  font-family: "Nimbus Sans L";
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  text-align: left;
}

.cardDia {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.withLine {
  border-bottom: 1px solid #000000;
}

.fundo {
  background-color: #F9ECDD;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.alinhaVert {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cardGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.alinhaHoriz {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  gap: 1rem;
}

.space {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-inline: 1rem;
}

.imagem {
  width: 5rem;
  height: 5rem;
  max-width: 60rem;
  max-height: 70rem;
  margin: 1rem;
}

.card {
  background-color: #FFDEB9;
  border-radius: 1.25rem;
  border: 1px solid #000;
  margin: 1rem;
  padding: .5rem;
}

.cardNew {
  background-color: #FFDEB9;
  border-radius: 1.25rem;
  border: 1px solid #000;
  margin: 1rem;
}

.nomePag {
  text-align: center;
  font-family: Abel;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  text-transform: uppercase;
}

.pag1 {
  color: #6788C3;
}

.pag2 {
  color: #FAAD7A;
}

.pag3 {
  color: #D4ADD0;
}

.nimbus {
  color: #101010;
  font-family: "Nimbus Sans L";
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

.nimbus-sentimento {
  color: #101010;
  font-family: "Nimbus Sans L";  
}

.atividade {
  font-weight: bold;
}

.botao:link {
  border-radius: 2.4375rem;
  border: 2px solid #DA705A;
  display: flex;
  padding: .2rem;
  padding-inline: 1rem;
  order: 2;
  align-self: flex-end;
  text-decoration: none; 
}

.botao-resultado{
  border-radius: 2.4375rem;
  border: 1px solid #DA705A;
  display: flex;
  padding: .2rem;
  padding-inline: 1rem;
  width: 20%;
  height: 25px;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
}

.link-resultado{
  display: flex;
  justify-content: center;
  padding: 2.5rem 0rem;
}

.link:link {
  text-decoration: none;
}

.corFooter {
  color: white;
}

.botao:hover {
  border-radius: 2.4375rem;
  border: 2px solid #000000;
  background-color: #DA705A;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 500px) {
  body {
    flex-direction: column-reverse;
  }
}

/* .topnav {
  display: flex;
  flex-direction: row;

  position: sticky;
  font-family: "Nimbus Sans L";
  text-transform: uppercase;
  color: #F9ECDD;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #101010;
}

.topnav a {
  text-decoration: none;
}

.btn-mobile {
  display: none;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.menu li {
  padding: 0;
}

.menu a {
  color: white;
  padding: 0.5rem;
  transition: color 0.3s;
}

.menu a:hover {
  background-color: #6788C3;
  color: #F9ECDD;
}
 */
/* @media (max-width: 534px ){
  .menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    background-color: #101010;
  }

  .logo{
    display: flex;
    justify-items: flex-end;
    padding-right: 1rem;
  }
}

.logo {
  width: 39.359px;
  height: 27.71px;
  flex-shrink: 0;
  padding-top: 5px;
  padding-right: 1rem;
}
 */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9ECDD;
  font-family: "Nimbus Sans L";
}

.container h2 {
  color: #DA705A;
  font-family: "Abel";
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #101010;
  align-items: stretch;
  color: #FFFFFF;
  font-family: "Open Sans";
  padding-inline: 1rem;
}

.alinhaFim {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.footer p {
  text-align: center;
  font-family: Abel;
  text-transform: capitalize;
  padding: 2rem;
}

.footer div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer .final {
  border-top: 1px solid #FFFFFF;
  padding-top: 1rem;
}


.introduction {
  border-bottom: 1px solid #F7A675;
  padding-top: 1rem;
  margin-inline: 1rem;
}

.card {
  display: flex;
  position: relative;
  background-color: #FFDEB9;
  border-radius: 1.25rem;
  border: 1px solid #000;
  margin: 1rem;
  padding: .5rem;
}

.imagem {
  width: 5rem;
  height: 5rem;
  max-width: 60rem;
  max-height: 70rem;
  margin: 1rem;
}

.cardGroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nimbus {
  color: #101010;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titulo-card {
  text-transform: capitalize;
}

.card1 {
  background-color: #6788C3;
}

.card1:hover {
  opacity: 0.8;
}

.card2 {
  background-color: #FAAD7A;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.card2:hover {
  opacity: 0.8;
}


.card3 {
  background-color: #D4ADD0;
}

.checkbox-round {
  display: flex;
  flex-direction: row;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #ddd;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #DA705A;
}

.emoji-input {
  display: none;
}

/* Estilização dos labels para parecerem botões */
.emoji-label {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

/* Estilização dos emojis */
.emoji-label img {
  width: 50px; /* Tamanho do emoji */
  height: 50px; /* Tamanho do emoji */
  border-radius: 50%; /* Forma circular para o botão */
  border: 2px solid transparent; /* Borda transparente inicial */
  transition: border 0.3s ease; /* Transição suave para a borda */
}

/* Estilização dos emojis quando estão selecionados */
.emoji-input:checked + .emoji-label img {
  border: 3px solid #DA705A; /* Cor da borda quando selecionado */
}

.checkboxes{
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
}

.checkbox{
  display: flex;
  flex-direction: row;
}

.card-content{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

article h3{
  display: flex;
  justify-content: center;
}

.emojis{
  display: flex;
  justify-content: center;
}

.selecao{
  display: flex;
  justify-content: center;
}

select{
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #F9ECDD;
  border: 1px solid #000;
}

.card3:hover {
  opacity: 0.8;
}

.textinho {
  color: black;
  text-align: justify;
  font-family: "Nimbus Sans L";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imagemVideo {
  width: 12rem;
  flex-shrink: 0;
  max-width: 60rem;
  max-height: 70rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.nimbusLink {
  color: #002B78;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.padding {
  padding-inline: 1rem;
}

.imagemArrow {
  flex-shrink: 0;
  max-width: 60rem;
  max-height: 70rem;
  margin-inline: 1rem;
  height: 1rem;
}

.botaoVoltar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkColor {
  color: black;

}