.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: black;
    color: white;
}

.items {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.logo {
    display: none;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}

.icon {
    width: 32px;
    height: 32px;
    object-fit: fill;
}

@media screen and (min-width: 500px) {
    .icon {
      display: none;
    }

    .menu {
        padding: 0 32px;
    }

    .items {
        justify-content: flex-end;
        gap: 32px;
    }

    .logo {
        display: flex;
    }
  }